:root{
  --mainBlue:#2A2A72;
  --lightBlue:#009FFD;
  --mainWhite:#F3F3F3;
  --mainDark:#232528;
  --mainYellow: #FFA400;
  --myRed: rgb(228, 102, 52);;
}
body{
  font-family: 'Oswald', sans-serif !important;
 
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
color:var(--mainBlue);
}
.text-bright{
  color:var(--lightBlue);
}